html, body {
    height: 100%;
  }

body {
    text-align: center;
    margin: 0;
    background-image: url(../images/back.png);
    background-size: cover;
    background-position: center center;
    font-family: 'Space Mono', monospace;
    color: white;

}

h1 {
    font-size: 300%;
    padding: 10%;
    
}

.btn {
    background-color: grey;
}

#question {
    padding: 5%;
}


