html, body {
    height: 100%;
  }

.row {
    margin: 0 0 0 0;
}

body {
    text-align: center;
    margin: 0 0 0 0;
    background-image: url(../images/back.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #212837;
    font-family: 'Space Mono', monospace;
    color: white;
     
}

h1 {
    font-size: 6vw;
    padding: 10%;
    background-image: url(https://i.ya-webdesign.com/images/rick-and-morty-portal-png-8.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    
}



.btn {
    background-color: grey;
}

#question {
    padding: 5%;
}

#loading {
    width: 5em;
}

#theGame{
    background-color: #212837e6;
}

#answerImage {
    width: 80%;
    height: 80%;
    
  
}

#showAnswer {
    width: 100%;
}


.row {
    width:100%;
}

